# Ignore Node modules
node_modules/
backend/node_modules/
frontend/netflix/node_modules/

# Ignore Environment Variables
.env
backend/.env
frontend/.env

# Ignore Build Folders
frontend/build/
backend/dist/
