services:
  frontend:

    build: ./frontend
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules

    environment:
      - CHOKIDAR_USEPOLLING=true
    


  backend:
    build: ./backend
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    ports:
      - 3000:3000
    env_file:
      - ./backend/.env
      
    environment:
      - CHOKIDAR_USEPOLLING=true